In [1]:
from bs4 import BeautifulSoup
import os
import pandas as pd

In [16]:
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        title = soup.find('title').contents[0][:len('- Rotten Tomatoes')]
        audience_score = soup.find('div', class_= 'audience-score meter').find('span').contents[0][:-1]
        num_audience_ratings = soup.find('div', class_='audience-info hidden-xs superPageFontColor')
        num_audience_ratings = num_audience_ratings.find_all('div')[1].contents[2].strip().replace(',','')
        df_list.append({'title' : title, 'audience_score' : int(audience_score),
                       'number_of_audience_ratings' : int(num_audience_ratings)})
        
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [18]:
df

                title  audience_score  number_of_audience_ratings
0   12 Angry Men (Twe              97                      103672
1   The 39 Steps (193              86                       23647
2   The Adventures of              89                       33584
3   All About Eve (19              94                       44564
4   All Quiet on the               89                       17768
..                ...             ...                         ...
95  Up (2009) - Rotte              90                     1201878
96  Vertigo (1958) -               93                      101454
97  The Wages of Fear              95                        8536
98  Wonder Woman (201              90                      112955
99  Zootopia (2016) -              92                       98633

[100 rows x 3 columns]